#landingPage {
    position: absolute;
    width: 100%;
    height: 100svh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23, 25, 28, 0.5);
    backdrop-filter: blur(30px);
}

.landingContainer {
    max-width: 60%;
}

#landingPage h2 {
    font-size: 3.8rem;
    margin: 0 0 1rem;
    text-wrap-style: balance;
}

#landingPage p {
    font-size: 1.8rem;
    margin: 0 0 4rem;
}

#landingPage button {
    border-radius: var(--radiusRound);
    margin: 0 auto;
    display: block;
    filter: var(--shadow);
    padding: 1rem 3rem;
    background-color: var(--accentDark);
    font-weight: bold;

    &:hover {
        cursor: pointer;
    }
}

#landingPage a {
    text-decoration: none;
}
