.songCard {
    background-color: var(--accentDark);
    color: var(--backgroundDark);
    height: 70px;
    width: 240px;
    display: flex;
    border-radius: var(--radiusSmall);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.songCard .songDetails {
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    overflow: hidden;
    position: relative;
}

.songImgContainer {
    height: 70px;
    width: 70px;
    background-color: var(--accentDark);
    position: relative;

    &::after {
        transition: all 300ms;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
    }

    &:hover::after {
        background-color: rgba(0, 0, 0, 0.7);
    }

    &:hover .playBtn img {
        opacity: 1;
    }
}

.playBtn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.playBtn > img {
    transition: all 300ms;
    opacity: 0;
    position: absolute;
    z-index: 3;
    left: -2px;
    top: 0;
    width: 3rem;
    background: transparent;
    position: relative;
}

.songCard img {
    max-height: 70px;
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.songCard .songDetails p {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songCard:hover .songDetails p.songName {
    overflow: visible;
    white-space: nowrap;
    animation: scroll-text 5s linear infinite;
    transform-origin: left;
}

.songCard .songDetails p.songArtist {
    font-weight: 400;
}

/* Animation for scrolling text */
@keyframes scroll-text {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-100%);
    }
}
