.songCard {
    background-color: var(--accentDark);
    color: var(--backgroundDark);
    height: 70px;
    width: 200px;
    display: flex;
    border-radius: var(--radiusSmall);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.songCard:hover {
    box-shadow: 0px 4px 11px -4px rgba(255, 255, 255, 0.72)
}

.songCard .songDetails {
    width: 70%;
    margin: 10px;
    overflow: hidden;
}

.songCard button {
    width: 30%;
    overflow: hidden;
}

.songCard img {
    height: 100%;
}

.songCard .songDetails p {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.songCard .songDetails p.songName {
    margin-bottom: 10px;
}

.songCard .songDetails:hover p.songName {
    overflow: visible;
    white-space: nowrap;
    animation: scroll-text 5s linear infinite;
}

.songCard .songDetails p.songArtist {
    font-weight: 400;
}

/* Animation for scrolling text */
@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}