header {
    transition: width 500ms;
    background-color: var(--backgroundDark);
    height: 100vh;
    border-right: 1px solid rgba(171, 195, 248, 0.5);
    padding: 30px;
    position: relative;
}

.leftNav {
    width: 250px;
}

.leftNavNarrow {
    width: 90px;
}

.menuButton {
    outline: none;
    background: none;
    border: none;
}

nav ul {
    color: var(--accentDark);
    margin-top: 6rem;
}

nav ul button {
    text-decoration: none;
    color: var(--accentDark);
    margin: 0 0 2rem;
    border: none;
    outline: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

nav ul img {
    height: fit-content;
    margin: 0 0 2rem;
    width: 1.7rem;
}

#logInButton {
    color: var(--accentDark);
    width: max-content;
}

#logInButton:hover {
    cursor: pointer;
}

#logoutIcon {
    height: 33px;
}

.visible {
    transition: opacity 300ms;
    transition-delay: 300ms;
    opacity: 1;
}

.invisible {
    transition: opacity 300ms;
    opacity: 0;
}

.menuButton img {
    position: absolute;

    &:hover {
        cursor: pointer;
    }
}

#logo {
    top: 2rem;
}
