.search-bar {
  margin-bottom: 40px;
  width: 350px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 10px 20px;
  width: 350px;
  height: 38px;
  outline: none;
  border: none;
  background-color: var(--accentDark);
  font-size: 16px;
  border-radius: 30px;

  &::placeholder {
    color: var(--backgroundDark);
    opacity: 0.5;
  }
}

.search-bar a {
  position: absolute;
  right: 5%;
  height: 24px;
}