.top-songs {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    max-width: 100vw;
    padding: 20px 0;
}

.albums {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    max-width: 100vw;
    padding: 10px 0;
}

.playlists {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    max-width: 100vw;
}

.displaySongs,
.displayAlbums,
.displayPlaylists {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 10px;
}

.album {
    margin-right: 10px;
    border-radius: var(--radiusSmall);
    height: auto;
    width: 166px;
    overflow: hidden;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.album:hover {
    transition: all 0.3 ease-in-out;
    background-color: #333;
    box-shadow: 0px 8px 15px -16px rgba(255, 255, 255, 0.72);
}

.album button img {
    border-radius: var(--radiusSmall);
}

.album button {
    border-radius: var(--radiusSmall);
    position: relative;
    height: 150px;
}

.albumInfo {
    margin: 5px 0;
    overflow: hidden;
}

.albumInfo .albumName {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.albumImg {
    position: relative;
    height: 150px;
    width: 150px;
}

.albumIcons {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 0%;
    transition: all 0.3 ease-in-out;
}

.albumIcons span {
    font-size: 30px;
}

.album:hover .albumIcons {
    opacity: 1;
    width: 100%;
    transition: all 0.3 ease-in-out;
}

.album .albumImg img {
    display: inline-block;
}

.album:hover .albumImg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radiusSmall);
    box-shadow: inset 0px -18px 25px 12px #000;
    transition: all 0.3 ease-in-out;
}

.album:hover .albumName {
    animation: scroll-text 5s linear;
}

.albumInfo .albumArtist {
    font-size: 14px;
}