#player button {
    background-color: transparent;
}

#player .songCard {
    border: none;
    opacity: 0.2;
}

#player {
    margin: auto 1rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#playerControls {
    margin: 0.5rem auto 0;
}

#playerControls.Collapsed > button {
    display: block;
}

#playerControls.Expanded > button {
    display: inline;
    animation: fadeIn 500ms;
}

@keyframes fadeIn {
    0% {opacity: 0}
    60% {opacity: 0}
    100% {opacity: 1}
}

.playerCard img {
    width: 100%;
    border-radius: 3px;
    margin: 0.6rem 0 0;
}

.playerCard p:first-of-type {
    font-weight: 500;
}