button {
    border: none;
    font-size: inherit;
    font-family: inherit;

    &:hover {
        cursor: pointer;
    }
}

.album img,
.songCard img,
.playlist img {
    background-color: var(--backgroundDark);
}

:is(.displaySongs, .displayAlbums, .displayPlaylists, .displayMoods)
    ::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
