@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --headings: 'Ubuntu';
    --mainFont: 'Familjen Grotesk';

    --backgroundDark: #17191c;
    --accentDark: #abc3f8;

    --radiusSmall: 8px;
    --radiusRound: 100px;

    --shadow: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.4));
}

body {
    font-family: var(--mainFont);
    background-color: var(--backgroundDark);
    color: var(--accentDark);
    font-size: 18px;
}

body :where(h1, h2, h3, h4, h5, h6) {
    font-family: var(--headings);
}
